*.psd filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
Mini[[:space:]]VR[[:space:]]Game/Library/PackageCache/com.meta.xr.simulator@65.0.0/MetaXRSimulator/.synth_env_server/synth_env_server_Data/sharedassets3.assets filter=lfs diff=lfs merge=lfs -text
Mini[[:space:]]VR[[:space:]]Game/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Mini[[:space:]]VR[[:space:]]Game/Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/build/intermediates/local_aar_for_lint/release/out.aar filter=lfs diff=lfs merge=lfs -text
